@import "../../../constants/colors.scss";
@import "../../../constants/outline.scss";
.sidebar{
  outline: $outline;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1.5fr 16fr;
  &_title{
    outline: $outline;
  }
}
