@import "../../../constants/colors.scss";
@import "../../../constants/outline.scss";
.sidebar{
  outline: $outline;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 10fr;
  &_title{
    font-weight: 900;
    padding: .5rem;
    font-size: 15pt;
    outline: $outline;
  }
}
