@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14pt;
}
body{
    margin: 0;
}
.title{
    font-weight: 900;
    padding: .5rem;
    font-size: 15pt;
    outline: .15rem solid #000;
    display: flex;
    place-items: center;
}
